header {
    height: 48px;
    width:100%;

    background-color:white;
    display:grid;
    align-items:center;
    grid-template-columns:0.25fr 5fr 0.2fr 0.25fr;

    font-size:18px;  
    font-weight:500;

    position:fixed;
    top:0;
    left:0;
    z-index:1000;

    border-bottom-style: solid;
    border-color:rgb(190, 190, 190);
    border-bottom-width:1px;
}
.header__hamburger-icon {
    margin:0 auto;

    width:32px;
    height:32px;

    border-radius:10px;
}
.header__hamburger-icon:hover {
    background-color:rgb(241, 241, 241);
}
.header__title {
    font-weight:500;
}
.header__share-button {
    margin:0 auto;
    padding-left:16px;
    padding-right:16px;
    padding-top:4px;
    padding-bottom:4px;
    border-radius:20px;

    font-weight: 500;
}
.header__share-button:hover {
    background-color:rgb(241, 241, 241);
}
.header__profile-picture {
    margin:0 auto;
    border-radius:50px;

    width:28px;
    height:28px;
}


.title-container {
    position:relative;
}

.wallpaper-image__gradient {
    width:100%;
    height:28%;
    position:absolute;
    bottom:0;
    left:0;
    background-image: linear-gradient(to top, 
        white 28%,
        rgba(255, 255, 255, 0.993) 30%,
        rgba(255, 255, 255, 0.986) 33%,
        rgba(255, 255, 255, 0.966) 36%,
        rgba(255, 255, 255, 0.932) 38%,
        rgba(255, 255, 255, 0.856) 48%,
        rgba(255, 255, 255, 0.651) 58%,
        transparent
    )
}
.wallpaper-image {
    object-fit: cover;
    width:100%;
    height:425px;
    object-position:50% 60%;
}

h1 {
    position:absolute;
    bottom:0px;
    left:110px;

    font-weight:700;
    font-size:50px;

    margin:0;
}


.quote-container{
    margin:0;
    margin-top:10px;
    margin-left:320px;

}
.quote-container__quote{
    margin:0;
}
.quote-container__cite{
    margin:0;
    margin-left:180px;
}