main {
    display:flex;
    
    padding:0px 50px 0px 50px;

    margin:0 auto;
    margin-top:90px;

    max-width:1680px;
    height:100%;

}

.tasks-modules-container {
    margin-left:64px;
    width:100%;

    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    max-height: 1000px;

    row-gap:64px;
    column-gap:64px;

}
