main {
    display:flex;

    margin:0 auto;
    margin-top:90px;

    max-width:1680px;
    height:100%;

}


.tasks-column__first {
    min-width:630px;
    margin-left:64px;
    margin-right:64px;
}

.longterm-tasks-ui {
    background-color:white;
    min-width:630px;
    height:500px;
    
    border-radius:25px;
    box-shadow:-1px 1px 10px -1px rgb(0, 54, 135, 0.3);
}
