.tasks-ui__options-menu {
    display: inline-block;
    position: absolute;
    top:0px;
    right:0px;
    transform: translate(30%,-90%);

    width:250px;
    box-sizing:border-box;
    padding:8px 24px 24px 24px;

    background-color: rgb(255, 255, 255);
    color:rgb(155, 155, 155);
    border-radius:15px;
    box-shadow:1px 1px 10px -1px rgb(0, 54, 135, 0.3);
    z-index: 100;
}

.tasks-ui__options-menu__header-container {
    position:relative;
    display:grid;
    grid-template-columns: 1fr 32px;
    align-items:center;
    
    border-bottom-style: solid;
    border-bottom-width:2px;
    border-bottom-color: rgb(230, 230, 230);

    padding-top:6px;
    padding-bottom:6px;
    padding-left:2px;
    margin-bottom:6px;
}

.tasks-ui__options-menu__title {
    font-size:14px;

    display:inline-block;
}

.tasks-ui__options-menu__delete-button {
    border-radius: 50px;
    width:32px;
    padding:6px;
}
.tasks-ui__options-menu__delete-button:hover {
    background-color: rgb(241, 241, 241);
}
.tasks-ui__options-menu__delete-icon {
    width:20px;

    vertical-align:middle;
    transition: opacity 0.2s ease;
}

.tasks-ui__options-menu__button-unselected {
    position:relative;

    width:100%;
    height:40px;

    border-radius:15px;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left:16px;

    color:rgb(155, 155, 155);
}
.tasks-ui__options-menu__button-unselected:hover {
    background-color: rgb(241, 241, 241);
}
.tasks-ui__options-menu__button-selected {
    position:relative;

    width:100%;
    height:40px;

    border-radius:15px;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left:16px;

    background-color: rgb(235, 235, 235);
    color:rgb(133, 133, 133);
}

.checked-tasks-history-container {
    position:absolute;
    top:0;
    right:0;
    transform:translate(100%,0%);

    width:200px;
    height:200px;

    background-color: white;
    box-shadow:1px 1px 10px -1px rgb(0, 54, 135, 0.3);


    z-index: 100;
}

.checked-tasks-history-container__checkedTodo {
    display:block;
}