.tasks-ui {
    position:relative;
    display:flex;
    flex-direction: column;
    width:540px;

    background-Color:white;
    height:176px;
    font-size: 14px;

    box-Sizing:border-box;

    padding:14px 16px 14px 16px;

    border-Radius:25px;
    box-Shadow:1px 1px 10px -1px rgb(0, 54, 135, 0.3);
    transition:box-shadow 0.3s ease;
}
.tasks-ui:hover {
    box-shadow:2px 3px 17px -1px rgb(0, 54, 135, 0.3);
}

.tasks-ui__title {
    margin:0;
    display:inline-block;

    padding-left:18px;
    padding-right:18px;
    padding-top:6px;
    padding-bottom:6px;

    border-radius:20px;

    font-weight: 600;
    font-size:16px;

    vertical-align:middle;
}
.tasks-ui__no-title {
    margin:0;
    display:inline-block;

    padding-left:18px;
    padding-right:18px;
    padding-top:6px;
    padding-bottom:6px;

    border-radius:20px;

    font-weight: 500;
    font-size:16px;
    color:rgb(58, 58, 58);

    vertical-align:middle;
}
.tasks-ui__title-add-wrapper {
    display: flex;
    align-items: center;
}
.tasks-ui__header-container {
    display:flex;
    align-items:center;
    justify-content: space-between;

}
.tasks-ui__add-button {
    height:32px;

    border-radius: 50px;
    padding:6px;
    transition:background-color 0.2s ease;

    margin-left:12px;
}
.tasks-ui__add-button:hover {
    background-color: rgb(241, 241, 241);
}
.tasks-ui__add-icon{
    width:20px;
    height:20px;

    vertical-align:middle;
    opacity:0;
    transition: opacity 0.2s ease;
}
.tasks-ui:hover .tasks-ui__add-icon{
    opacity:1;
}

.todos-tasks-ui__title-add-container {
    display:flex;
    align-items:center;
}


.tasks-ui__names-container {
    display:grid;
    grid-template-columns: 1fr 1fr;

    width:100%;

    box-sizing:border-box;

    margin-top:20px;
    padding-left:60px;
    padding-right:50px;
    font-size: 14px;
}
.tasks-ui__names-container--title, .tasks-ui__names-container--date {
    display:inline-block;
    margin-right:00px;

    font-size:14px;
    color:rgb(155, 155, 155);
}

.tasks-ui__main-container {
    position:relative;
    width:100%;
    height:100%;

}
.tasks-ui__no-todos-alert {
    position: absolute;
    top:50%;
    left:50%;

    transform: translate(-50%,-80%);

    font-size:14px;
    color:rgb(155, 155, 155);
}

.tasks-ui__todos-container {
    display:flex;
    flex-direction: column;

    width:100%;

    box-sizing:border-box;
}

.tasks-ui__todo {
    display:grid;
    
    grid-template-columns: 60px 1fr 1fr 50px;

    height:36px;
    align-items: center;

}

.tasks-ui__todo__checkbox-container{
    display:flex;
    justify-content: center;
}
.tasks-ui__todo__checkbox-container:hover .tasks-ui__todo__checkbox{
    background-color: rgb(226, 226, 226);
}
.tasks-ui__todo__checkbox{
    width:20px;
    height:20px;

    background-color: rgba(241, 241, 241, 1);
    box-shadow: inset -5px 5px 5px -5px rgba(0, 0, 0, 0.25);
}

.tasks-ui__todo__uncheckbox-container{
    display:flex;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.2s ease;
}
.tasks-ui__todo__uncheckbox{
    display:flex;
    align-items: center;
    justify-content: center;
}
.tasks-ui__todo__uncheckbox:hover {
    background-color: rgb(241, 241, 241);
    border-radius:15px;
}
.tasks-ui__todo__uncheckbox-img{
    width:20px;
    padding:6px;
    cursor: pointer;
}
.tasks-ui__todos-container:hover .tasks-ui__todo__uncheckbox-container{
    opacity: 1;
}

.tasks-ui__todo__title-container {
    position: relative;
    height:100%;
}
.tasks-ui__todo__title{
    border:0;
    height:100%;
    width:95%;
    text-overflow: ellipsis;
    font-weight:500;
    font-size: 14px;

    display: flex;
    align-items: center;

    transition: box-shadow 0.2s ease, padding 0.2s ease, background-color 0.08s ease; 
}
.tasks-ui__todo__title:hover{
    background-color: rgba(0, 119, 255, 0.055);
    border-radius:8px;
    
    padding-left:4px;
    cursor: pointer;
}
.tasks-ui__todo__title:focus {
    position: absolute;
    left:0px;
    top:50%;
    transform: translateY(-50%);

    outline:0;
    cursor:text;
    box-shadow:1px 1px 10px -1px rgb(0, 54, 135, 0.3);
    border-radius:4px;
    caret-color:black;
    z-index:100;

    font-size:18px;

    padding:8px 0px 8px 8px;
}
.tasks-ui__todo__title:hover:focus {
    background: white;
}
.tasks-ui__completed-todo__title-text{
    font-weight:500;
}

.tasks-ui__todo__date-container{
    position:relative;
    height:100%;
}
.tasks-ui__todo__no-date{
    display: flex;
    align-items: center;
    height:100%;
    color: rgba(117,117,117,255);
    font-size: 14px;

    transition: background-color 0.08s ease, padding 0.2s ease;
}
.tasks-ui__todo__no-date:hover{
    background: rgba(0, 119, 255, 0.055);
    border-radius:8px;
    padding-left: 4px;

    cursor: pointer;
}
.tasks-ui__todo__date{
    display: flex;
    align-items: center;
    height:100%;
    font-size: 14px;

    transition: background-color 0.08s ease, padding 0.2s ease;
}
.tasks-ui__todo__date:hover{
    background: rgba(0, 119, 255, 0.055);
    border-radius:8px;

    padding-left: 4px;
    cursor: pointer;
}
.tasks-ui__todo__date-calendar-false{
    position:absolute;
    opacity:0;
}
.tasks-ui__todo__date-calendar-true{
    position:absolute;
    left:-15px;
    bottom:0;
    z-index: 100;

    background-color: rgb(247, 251, 255);
    box-shadow:1px 1px 10px -1px rgb(0, 54, 135, 0.3);
    border-radius: 15px;
    opacity:1;

    transition:0.2s ease;
}
.tasks-ui__todo__date-calendar-true:hover{
    box-shadow:2px 3px 17px -1px rgb(0, 54, 135, 0.3);
}

.tasks-ui__todo__delete-button-container {
    position:relative;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
}
.tasks-ui__todo__delete-button {
    position:absolute;
    top:0;
    left:50%;
    transform: translate(-50%,0);

    border-radius: 50px;
    width:32px;
    padding:6px;
    transition:background-color 0.2s ease;
}
.tasks-ui__todo__delete-button:hover {
    background-color: rgb(241, 241, 241);
}
.tasks-ui__todo__delete-icon{
    width:20px;

    vertical-align:middle;
    opacity:0;
    transition: opacity 0.2s ease;
}
.tasks-ui__todos-container:hover .tasks-ui__todo__delete-icon {
    opacity: 1;
}
